## Importação de Bibliotecas

In [137]:
import pandas as pd 

import datetime

## Leitura dos dados de Depósito

In [138]:
deposito = pd.read_excel("Controle_Entrada_Materia_Prima.xlsx", sheet_name="DEPOSITO")

deposito

,Data,Placa,Lote,Fornecedor,Produto,Hora chegada,Hora descarregada,Peso Recebido,Unnamed: 8,Unnamed: 9,...,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28
0,2022-06-01,MFT4760/S,601,MARFRIG VG,BARRIGADA,02:52:00,09:11:00,12.50,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
1,2022-06-01,JZD6472/S,601,MARFRIG VG,OSSO,05:01:00,06:54:00,7.80,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,2022-06-01,OAT2116/S,601,MARFRIG VG,BARRIGADA,00:53:00,07:11:00,11.48,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
3,2022-06-01,KAI0638,601,MARFRIG VG,OSSO,09:35:00,10:02:00,13.06,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
4,2022-06-01,KAN3429,601,VIPOSA,APARAS,10:03:00,10:31:00,1.44,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,2022-06-15,OAT2I16,615,MARFRIG VG,BARRIGADA,02:17:00,02:53:00,4.60,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
513,2022-06-15,NPK4836,615,PRAÇA,OSSO,18:19:00,03:00:00,3.96,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
514,2022-06-15,OBD3949,615,MARFRIG VG,OSSO,16:56:00,03:33:00,13.12,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
515,2022-06-15,JMY5920,615,JBS/PEDRA PRETA,BARRIGADA,03:48:00,04:33:00,11.72,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
516,2022-06-15,KAK1468,615,MARFRIG VG,OSSO,00:04:00,04:48:00,13.28,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Removendo dados Nulos com o nome Unnamed

In [139]:
deposito = deposito.loc[:, ~deposito.columns.str.contains('^Unnamed')]

deposito

,Data,Placa,Lote,Fornecedor,Produto,Hora chegada,Hora descarregada,Peso Recebido
0,2022-06-01,MFT4760/S,601,MARFRIG VG,BARRIGADA,02:52:00,09:11:00,12.50
1,2022-06-01,JZD6472/S,601,MARFRIG VG,OSSO,05:01:00,06:54:00,7.80
2,2022-06-01,OAT2116/S,601,MARFRIG VG,BARRIGADA,00:53:00,07:11:00,11.48
3,2022-06-01,KAI0638,601,MARFRIG VG,OSSO,09:35:00,10:02:00,13.06
4,2022-06-01,KAN3429,601,VIPOSA,APARAS,10:03:00,10:31:00,1.44
...,...,...,...,...,...,...,...,...
512,2022-06-15,OAT2I16,615,MARFRIG VG,BARRIGADA,02:17:00,02:53:00,4.60
513,2022-06-15,NPK4836,615,PRAÇA,OSSO,18:19:00,03:00:00,3.96
514,2022-06-15,OBD3949,615,MARFRIG VG,OSSO,16:56:00,03:33:00,13.12
515,2022-06-15,JMY5920,615,JBS/PEDRA PRETA,BARRIGADA,03:48:00,04:33:00,11.72
516,2022-06-15,KAK1468,615,MARFRIG VG,OSSO,00:04:00,04:48:00,13.28

## Modificação para Mês, Dia e Ano

In [140]:
deposito["Dia"] = pd.DatetimeIndex(deposito["Data"]).day
deposito["Ano"] = pd.DatetimeIndex(deposito["Data"]).year
deposito["Mês"] = pd.DatetimeIndex(deposito["Data"]).month

deposito

/tmp/ipykernel_13210/488764191.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  deposito["Dia"] = pd.DatetimeIndex(deposito["Data"]).day
/tmp/ipykernel_13210/488764191.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  deposito["Ano"] = pd.DatetimeIndex(deposito["Data"]).year
/tmp/ipykernel_13210/488764191.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  deposito["Mês"] = pd.DatetimeIndex(deposito["Data"]).month

,Data,Placa,Lote,Fornecedor,Produto,Hora chegada,Hora descarregada,Peso Recebido,Dia,Ano,Mês
0,2022-06-01,MFT4760/S,601,MARFRIG VG,BARRIGADA,02:52:00,09:11:00,12.50,1,2022,6
1,2022-06-01,JZD6472/S,601,MARFRIG VG,OSSO,05:01:00,06:54:00,7.80,1,2022,6
2,2022-06-01,OAT2116/S,601,MARFRIG VG,BARRIGADA,00:53:00,07:11:00,11.48,1,2022,6
3,2022-06-01,KAI0638,601,MARFRIG VG,OSSO,09:35:00,10:02:00,13.06,1,2022,6
4,2022-06-01,KAN3429,601,VIPOSA,APARAS,10:03:00,10:31:00,1.44,1,2022,6
...,...,...,...,...,...,...,...,...,...,...,...
512,2022-06-15,OAT2I16,615,MARFRIG VG,BARRIGADA,02:17:00,02:53:00,4.60,15,2022,6
513,2022-06-15,NPK4836,615,PRAÇA,OSSO,18:19:00,03:00:00,3.96,15,2022,6
514,2022-06-15,OBD3949,615,MARFRIG VG,OSSO,16:56:00,03:33:00,13.12,15,2022,6
515,2022-06-15,JMY5920,615,JBS/PEDRA PRETA,BARRIGADA,03:48:00,04:33:00,11.72,15,2022,6
516,2022-06-15,KAK1468,615,MARFRIG VG,OSSO,00:04:00,04:48:00,13.28,15,2022,6

In [141]:
deposito = deposito.drop(columns=['Data'])

In [142]:
deposito

,Placa,Lote,Fornecedor,Produto,Hora chegada,Hora descarregada,Peso Recebido,Dia,Ano,Mês
0,MFT4760/S,601,MARFRIG VG,BARRIGADA,02:52:00,09:11:00,12.50,1,2022,6
1,JZD6472/S,601,MARFRIG VG,OSSO,05:01:00,06:54:00,7.80,1,2022,6
2,OAT2116/S,601,MARFRIG VG,BARRIGADA,00:53:00,07:11:00,11.48,1,2022,6
3,KAI0638,601,MARFRIG VG,OSSO,09:35:00,10:02:00,13.06,1,2022,6
4,KAN3429,601,VIPOSA,APARAS,10:03:00,10:31:00,1.44,1,2022,6
...,...,...,...,...,...,...,...,...,...,...
512,OAT2I16,615,MARFRIG VG,BARRIGADA,02:17:00,02:53:00,4.60,15,2022,6
513,NPK4836,615,PRAÇA,OSSO,18:19:00,03:00:00,3.96,15,2022,6
514,OBD3949,615,MARFRIG VG,OSSO,16:56:00,03:33:00,13.12,15,2022,6
515,JMY5920,615,JBS/PEDRA PRETA,BARRIGADA,03:48:00,04:33:00,11.72,15,2022,6
516,KAK1468,615,MARFRIG VG,OSSO,00:04:00,04:48:00,13.28,15,2022,6

## Verificação de Dados Duplicados

In [143]:
deposito.duplicated().sum()

0

## Análise de Peso por Fornecedor

In [144]:
peso_fornecedor = deposito.groupby(["Fornecedor"]).sum()["Peso Recebido"].rename("Total de Peso")
media_peso_fornecedor = deposito.groupby(["Fornecedor"]).mean()["Peso Recebido"].rename("Média de Peso")

analise_peso_fornecedor = pd.DataFrame({"Total de Peso" : peso_fornecedor, 
                                        "Média de Peso" : media_peso_fornecedor})

analise_peso_fornecedor["Média de Peso"] = analise_peso_fornecedor["Média de Peso"].map("{:.2f}".format)

analise_peso_fornecedor

                 Total de Peso Média de Peso
Fornecedor
FRICAL                  107.48         10.75
JBS/PEDRA PRETA         503.92         12.00
MARFRIG VG             3274.32         11.25
PANTANAL                614.90          9.46
PRAÇA                   305.92          3.36
PRAÇA TERCEIROS           3.38          0.48
SLOVINSKI                 9.28          9.28
VIPOSA                   21.60          2.16

In [145]:
display(analise_peso_fornecedor.sort_values("Total de Peso", ascending=False).head(24)[ \
    ['Total de Peso', 'Média de Peso']])

                 Total de Peso Média de Peso
Fornecedor
MARFRIG VG             3274.32         11.25
PANTANAL                614.90          9.46
JBS/PEDRA PRETA         503.92         12.00
PRAÇA                   305.92          3.36
FRICAL                  107.48         10.75
VIPOSA                   21.60          2.16
SLOVINSKI                 9.28          9.28
PRAÇA TERCEIROS           3.38          0.48

## Análise de Peso por Produto

In [146]:
peso_produto = deposito.groupby(["Produto"]).sum()["Peso Recebido"].rename("Total de Peso")
media_peso_produto = deposito.groupby(["Produto"]).mean()["Peso Recebido"].rename("Média de Peso")

analise_peso_produto = pd.DataFrame({"Total de Peso" : peso_produto, 
                                        "Média de Peso" : media_peso_produto})

analise_peso_produto["Média de Peso"] = analise_peso_produto["Média de Peso"].map("{:.2f}".format)

analise_peso_produto

           Total de Peso Média de Peso
Produto
APARAS             21.60          2.16
AVES                9.28          9.28
BARRIGADA        2639.62         10.82
OSSO             2170.30          8.28

## Peso total por Ano e Mês

In [147]:
Ano_Mes_Peso = deposito.groupby(["Ano", "Mês", "Dia"]).sum()["Peso Recebido"].rename("Total de Peso") 
Ano_Mes_Peso_Media = deposito.groupby(["Ano", "Mês", "Dia"]).mean()["Peso Recebido"].rename("Média de Peso") 

analise_ano_mes = pd.DataFrame({"Total de Peso" : Ano_Mes_Peso, 
                                "Média de Peso" : Ano_Mes_Peso_Media})

analise_ano_mes["Média de Peso"] = analise_ano_mes["Média de Peso"].map("{:.2f}".format)

analise_ano_mes

              Total de Peso Média de Peso
Ano  Mês Dia
2022 6   1           309.14          9.97
         2           423.78          9.86
         3           375.96          9.17
         4           256.24          7.76
         6           293.74          9.18
         7           389.84         10.00
         8           403.54          9.17
         9           331.70          9.76
         10          459.00          9.18
         11          323.90         10.45
         12          119.38          7.02
         13          365.64          9.38
         14          396.62          9.67
         15          392.32          9.34

## Lote, Placa por Peso

In [148]:
lote_placa_peso = deposito.groupby(["Lote", "Placa"]).sum()["Peso Recebido"].rename("Total de Peso") 
lote_placa_medio_peso = deposito.groupby(["Lote", "Placa"]).mean()["Peso Recebido"].rename("Média de Peso")

analise_lote_placa_peso = pd.DataFrame({"Total de Peso" : lote_placa_peso, 
                                        "Média de Peso" : lote_placa_medio_peso})

analise_lote_placa_peso["Média de Peso"] = analise_lote_placa_peso["Média de Peso"].map("{:.2f}".format)

analise_lote_placa_peso.head(60)

                Total de Peso Média de Peso
Lote Placa
601   GLF3383           11.56         11.56
     BWJ7127            13.00         13.00
     BXI2541            13.18          6.59
     HSC9107             0.42          0.42
     JJB3083            12.60         12.60
     JJZ0468             9.74          9.74
     JOU8608            14.40         14.40
     JYG7892            11.20         11.20
     JYG8E87/S          10.32         10.32
     JYN6919             8.42          8.42
     JZD6472/S           7.80          7.80
     JZG8I55            22.66         11.33
     JZK9A73/S          13.20         13.20
     JZR7795            14.14         14.14
     KAI0638            13.06         13.06
     KAK1468            15.12         15.12
     KAN3429             1.44          1.44
     LVD3960/S          12.16         12.16
     MFT4760            13.22         13.22
     MFT4760/S          12.50         12.50
     NFU6G42            14.50         14.50
     NJS9820            12.98         12.98
     OAT2116            12.38         12.38
     OAT2116/S          11.48         11.48
     QBM8722            12.48         12.48
     QCC0471             5.62          5.62
     RAT4B02             2.12          2.12
     RAT4C02             3.40          3.40
     RAT4C22             4.04          4.04
602  BXI2541            12.06         12.06
     ECM3151             1.74          1.74
     JJZ0468            10.00         10.00
     JJZ0468/S           4.62          4.62
     JMY5920/S          11.48         11.48
     JOU8608            14.32         14.32
     JYG7892            10.70         10.70
     JYN6919            19.94          9.97
     JZD6472            12.82         12.82
     JZG8I55            23.88         11.94
     JZK9A73            22.74         11.37
     JZK9A73/S          10.74         10.74
     KAI0638            24.56         12.28
     KAK1468            13.68         13.68
     MFT4760            21.84         10.92
     MFT4760/S           7.88          7.88
     NFU6G42            23.88         11.94
     NFU6G42/S          12.52         12.52
     NJS9820            14.66         14.66
     NPK4836/S           4.16          4.16
     OAT2116            11.84         11.84
     OAT2I16            12.86         12.86
     OBD3949/S          12.28         12.28
     OBD9059/S           4.36          4.36
     OBH2206            12.90         12.90
     QBA8074            25.08         12.54
     QBM8722            17.48          8.74
     QBM8722/S          11.60         11.60
     QCC0471             3.76          3.76
     RAS1C53             3.86          3.86
     RAS1C53/S           2.36          2.36

## Leitura dos dados da Planilha Setor de Sangue

In [149]:
setor_sangue = pd.read_excel("Controle_Entrada_Materia_Prima.xlsx", sheet_name="SETOR_SANGUE")

setor_sangue

,Data,Placa,Lote,Fornecedor,Produto,HORA CHEGADA,HORA DESCARREGADA,Peso Recebido
0,2022-06-01,JYI4978,601,MARFRIG VG,SANGUE,01:08:00,13:29:00,11.04
1,2022-06-01,KDF8526,601,MARFRIG VG,SANGUE,03:41:00,15:56:00,9.12
2,2022-06-01,KET7305,601,MARFRIG VG,SANGUE,19:33:00,02:09:00,11.08
3,2022-06-02,KDF8526,602,MARFRIG VG,SANGUE,01:53:00,11:11:00,9.24
4,2022-06-02,JYI4978,602,MARFRIG VG,SANGUE,04:14:00,20:10:00,9.24
5,2022-06-02,KET7305,602,MARFRIG VG,SANGUE,19:45:00,03:03:00,11.38
6,2022-06-03,KDF8526,603,MARFRIG VG,SANGUE,01:15:00,08:24:00,8.98
7,2022-06-03,JYI4978,603,MARFRIG VG,SANGUE,04:31:00,16:12:00,7.34
8,2022-06-03,KET7305,603,MARFRIG VG,SANGUE,20:00:00,01:31:00,11.34
9,2022-06-04,KDF8526,604,MARFRIG VG,SANGUE,01:33:00,15:06:00,9.52
10,2022-06-04,JYI4978,604,MARFRIG VG,SANGUE,02:57:00,20:49:00,6.52
11,2022-06-06,KET7305,606,MARFRIG VG,SANGUE,20:46:00,04:35:00,11.80
12,2022-06-07,KDF8526,607,MARFRIG VG,SANGUE,02:33:00,15:00:00,8.44
13,2022-06-07,JYI4978,607,MARFRIG VG,SANGUE,04:12:00,18:55:00,6.96
14,2022-06-07,KET7305,607,MARFRIG VG,SANGUE,20:38:00,21:47:00,10.66
15,2022-06-08,KDF8526,608,MARFRIG VG,SANGUE,02:16:00,14:03:00,9.86
16,2022-06-08,AHA9477,608,MARFRIG VG,SANGUE,05:20:00,06:22:00,3.28
17,2022-06-08,JYI4978,608,MARFRIG VG,SANGUE,06:11:00,05:38:00,4.24
18,2022-06-08,KET7305,608,MARFRIG VG,SANGUE,21:15:00,04:15:00,12.16
19,2022-06-09,KDF8526,609,MARFRIG VG,SANGUE,02:10:00,15:18:00,9.90
20,2022-06-09,JYI4978,609,MARFRIG VG,SANGUE,04:46:00,20:47:00,8.90
21,2022-06-09,KET7305,609,MARFRIG VG,SANGUE,22:41:00,02:24:00,10.18
22,2022-06-10,KDF8526,610,MARFRIG VG,SANGUE,02:35:00,15:40:00,8.30
23,2022-06-10,JYI4978,610,MARFRIG VG,SANGUE,04:23:00,20:53:00,6.26
24,2022-06-11,KET7305,611,MARFRIG VG,SANGUE,00:23:00,05:18:00,12.06
25,2022-06-11,KDF8526,611,MARFRIG VG,SANGUE,02:20:00,14:54:00,8.04
26,2022-06-11,JYI4978,611,MARFRIG VG,SANGUE,03:45:00,21:28:00,6.26
27,2022-06-12,KET7305,612,MARFRIG VG,SANGUE,22:31:00,1900-01-10 01:26:24,10.00
28,2022-06-13,KDF8526,613,MARFRIG VG,SANGUE,01:44:00,09:02:00,8.84
29,2022-06-13,JYI4978,613,MARFRIG VG,SANGUE,03:09:00,13:30:00,2.98
30,2022-06-13,KET7305,613,MARFRIG VG,SANGUE,20:20:00,03:19:00,12.28
31,2022-06-14,KDF8526,614,MARFRIG VG,SANGUE,01:30:00,15:31:00,8.84
32,2022-06-14,JYI4978,614,MARFRIG VG,SANGUE,03:51:00,19:56:00,8.30
33,2022-06-14,KET7305,614,MARFRIG VG,SANGUE,19:38:00,04:35:00,10.64
34,2022-06-15,KDF8526,615,MARFRIG VG,SANGUE,00:54:00,10:30:00,7.76
35,2022-06-15,JYI4978,615,MARFRIG VG,SANGUE,01:46:00,19:14:00,3.10
36,2022-06-15,KET7305,615,MARFRIG VG,SANGUE,18:59:00,02:03:00,11.14

## Modificação da Planilha Setor Sangue para Dia, Mês, Ano

In [150]:
setor_sangue["Dia"] = pd.DatetimeIndex(setor_sangue["Data"]).day
setor_sangue["Ano"] = pd.DatetimeIndex(setor_sangue["Data"]).year
setor_sangue["Mês"] = pd.DatetimeIndex(setor_sangue["Data"]).month

setor_sangue

,Data,Placa,Lote,Fornecedor,Produto,HORA CHEGADA,HORA DESCARREGADA,Peso Recebido,Dia,Ano,Mês
0,2022-06-01,JYI4978,601,MARFRIG VG,SANGUE,01:08:00,13:29:00,11.04,1,2022,6
1,2022-06-01,KDF8526,601,MARFRIG VG,SANGUE,03:41:00,15:56:00,9.12,1,2022,6
2,2022-06-01,KET7305,601,MARFRIG VG,SANGUE,19:33:00,02:09:00,11.08,1,2022,6
3,2022-06-02,KDF8526,602,MARFRIG VG,SANGUE,01:53:00,11:11:00,9.24,2,2022,6
4,2022-06-02,JYI4978,602,MARFRIG VG,SANGUE,04:14:00,20:10:00,9.24,2,2022,6
5,2022-06-02,KET7305,602,MARFRIG VG,SANGUE,19:45:00,03:03:00,11.38,2,2022,6
6,2022-06-03,KDF8526,603,MARFRIG VG,SANGUE,01:15:00,08:24:00,8.98,3,2022,6
7,2022-06-03,JYI4978,603,MARFRIG VG,SANGUE,04:31:00,16:12:00,7.34,3,2022,6
8,2022-06-03,KET7305,603,MARFRIG VG,SANGUE,20:00:00,01:31:00,11.34,3,2022,6
9,2022-06-04,KDF8526,604,MARFRIG VG,SANGUE,01:33:00,15:06:00,9.52,4,2022,6
10,2022-06-04,JYI4978,604,MARFRIG VG,SANGUE,02:57:00,20:49:00,6.52,4,2022,6
11,2022-06-06,KET7305,606,MARFRIG VG,SANGUE,20:46:00,04:35:00,11.80,6,2022,6
12,2022-06-07,KDF8526,607,MARFRIG VG,SANGUE,02:33:00,15:00:00,8.44,7,2022,6
13,2022-06-07,JYI4978,607,MARFRIG VG,SANGUE,04:12:00,18:55:00,6.96,7,2022,6
14,2022-06-07,KET7305,607,MARFRIG VG,SANGUE,20:38:00,21:47:00,10.66,7,2022,6
15,2022-06-08,KDF8526,608,MARFRIG VG,SANGUE,02:16:00,14:03:00,9.86,8,2022,6
16,2022-06-08,AHA9477,608,MARFRIG VG,SANGUE,05:20:00,06:22:00,3.28,8,2022,6
17,2022-06-08,JYI4978,608,MARFRIG VG,SANGUE,06:11:00,05:38:00,4.24,8,2022,6
18,2022-06-08,KET7305,608,MARFRIG VG,SANGUE,21:15:00,04:15:00,12.16,8,2022,6
19,2022-06-09,KDF8526,609,MARFRIG VG,SANGUE,02:10:00,15:18:00,9.90,9,2022,6
20,2022-06-09,JYI4978,609,MARFRIG VG,SANGUE,04:46:00,20:47:00,8.90,9,2022,6
21,2022-06-09,KET7305,609,MARFRIG VG,SANGUE,22:41:00,02:24:00,10.18,9,2022,6
22,2022-06-10,KDF8526,610,MARFRIG VG,SANGUE,02:35:00,15:40:00,8.30,10,2022,6
23,2022-06-10,JYI4978,610,MARFRIG VG,SANGUE,04:23:00,20:53:00,6.26,10,2022,6
24,2022-06-11,KET7305,611,MARFRIG VG,SANGUE,00:23:00,05:18:00,12.06,11,2022,6
25,2022-06-11,KDF8526,611,MARFRIG VG,SANGUE,02:20:00,14:54:00,8.04,11,2022,6
26,2022-06-11,JYI4978,611,MARFRIG VG,SANGUE,03:45:00,21:28:00,6.26,11,2022,6
27,2022-06-12,KET7305,612,MARFRIG VG,SANGUE,22:31:00,1900-01-10 01:26:24,10.00,12,2022,6
28,2022-06-13,KDF8526,613,MARFRIG VG,SANGUE,01:44:00,09:02:00,8.84,13,2022,6
29,2022-06-13,JYI4978,613,MARFRIG VG,SANGUE,03:09:00,13:30:00,2.98,13,2022,6
30,2022-06-13,KET7305,613,MARFRIG VG,SANGUE,20:20:00,03:19:00,12.28,13,2022,6
31,2022-06-14,KDF8526,614,MARFRIG VG,SANGUE,01:30:00,15:31:00,8.84,14,2022,6
32,2022-06-14,JYI4978,614,MARFRIG VG,SANGUE,03:51:00,19:56:00,8.30,14,2022,6
33,2022-06-14,KET7305,614,MARFRIG VG,SANGUE,19:38:00,04:35:00,10.64,14,2022,6
34,2022-06-15,KDF8526,615,MARFRIG VG,SANGUE,00:54:00,10:30:00,7.76,15,2022,6
35,2022-06-15,JYI4978,615,MARFRIG VG,SANGUE,01:46:00,19:14:00,3.10,15,2022,6
36,2022-06-15,KET7305,615,MARFRIG VG,SANGUE,18:59:00,02:03:00,11.14,15,2022,6

In [151]:
## Apagar a Tabela Data
setor_sangue = setor_sangue.drop(columns=['Data'])

In [152]:
setor_sangue

,Placa,Lote,Fornecedor,Produto,HORA CHEGADA,HORA DESCARREGADA,Peso Recebido,Dia,Ano,Mês
0,JYI4978,601,MARFRIG VG,SANGUE,01:08:00,13:29:00,11.04,1,2022,6
1,KDF8526,601,MARFRIG VG,SANGUE,03:41:00,15:56:00,9.12,1,2022,6
2,KET7305,601,MARFRIG VG,SANGUE,19:33:00,02:09:00,11.08,1,2022,6
3,KDF8526,602,MARFRIG VG,SANGUE,01:53:00,11:11:00,9.24,2,2022,6
4,JYI4978,602,MARFRIG VG,SANGUE,04:14:00,20:10:00,9.24,2,2022,6
5,KET7305,602,MARFRIG VG,SANGUE,19:45:00,03:03:00,11.38,2,2022,6
6,KDF8526,603,MARFRIG VG,SANGUE,01:15:00,08:24:00,8.98,3,2022,6
7,JYI4978,603,MARFRIG VG,SANGUE,04:31:00,16:12:00,7.34,3,2022,6
8,KET7305,603,MARFRIG VG,SANGUE,20:00:00,01:31:00,11.34,3,2022,6
9,KDF8526,604,MARFRIG VG,SANGUE,01:33:00,15:06:00,9.52,4,2022,6
10,JYI4978,604,MARFRIG VG,SANGUE,02:57:00,20:49:00,6.52,4,2022,6
11,KET7305,606,MARFRIG VG,SANGUE,20:46:00,04:35:00,11.80,6,2022,6
12,KDF8526,607,MARFRIG VG,SANGUE,02:33:00,15:00:00,8.44,7,2022,6
13,JYI4978,607,MARFRIG VG,SANGUE,04:12:00,18:55:00,6.96,7,2022,6
14,KET7305,607,MARFRIG VG,SANGUE,20:38:00,21:47:00,10.66,7,2022,6
15,KDF8526,608,MARFRIG VG,SANGUE,02:16:00,14:03:00,9.86,8,2022,6
16,AHA9477,608,MARFRIG VG,SANGUE,05:20:00,06:22:00,3.28,8,2022,6
17,JYI4978,608,MARFRIG VG,SANGUE,06:11:00,05:38:00,4.24,8,2022,6
18,KET7305,608,MARFRIG VG,SANGUE,21:15:00,04:15:00,12.16,8,2022,6
19,KDF8526,609,MARFRIG VG,SANGUE,02:10:00,15:18:00,9.90,9,2022,6
20,JYI4978,609,MARFRIG VG,SANGUE,04:46:00,20:47:00,8.90,9,2022,6
21,KET7305,609,MARFRIG VG,SANGUE,22:41:00,02:24:00,10.18,9,2022,6
22,KDF8526,610,MARFRIG VG,SANGUE,02:35:00,15:40:00,8.30,10,2022,6
23,JYI4978,610,MARFRIG VG,SANGUE,04:23:00,20:53:00,6.26,10,2022,6
24,KET7305,611,MARFRIG VG,SANGUE,00:23:00,05:18:00,12.06,11,2022,6
25,KDF8526,611,MARFRIG VG,SANGUE,02:20:00,14:54:00,8.04,11,2022,6
26,JYI4978,611,MARFRIG VG,SANGUE,03:45:00,21:28:00,6.26,11,2022,6
27,KET7305,612,MARFRIG VG,SANGUE,22:31:00,1900-01-10 01:26:24,10.00,12,2022,6
28,KDF8526,613,MARFRIG VG,SANGUE,01:44:00,09:02:00,8.84,13,2022,6
29,JYI4978,613,MARFRIG VG,SANGUE,03:09:00,13:30:00,2.98,13,2022,6
30,KET7305,613,MARFRIG VG,SANGUE,20:20:00,03:19:00,12.28,13,2022,6
31,KDF8526,614,MARFRIG VG,SANGUE,01:30:00,15:31:00,8.84,14,2022,6
32,JYI4978,614,MARFRIG VG,SANGUE,03:51:00,19:56:00,8.30,14,2022,6
33,KET7305,614,MARFRIG VG,SANGUE,19:38:00,04:35:00,10.64,14,2022,6
34,KDF8526,615,MARFRIG VG,SANGUE,00:54:00,10:30:00,7.76,15,2022,6
35,JYI4978,615,MARFRIG VG,SANGUE,01:46:00,19:14:00,3.10,15,2022,6
36,KET7305,615,MARFRIG VG,SANGUE,18:59:00,02:03:00,11.14,15,2022,6

## Análise de Peso por Lote

In [153]:
Lote_Placa_Peso = setor_sangue.groupby(["Lote", "Placa"]).sum()["Peso Recebido"].rename("Total de Peso")

analise_Placa_Peso = pd.DataFrame({"Total de Peso" : Lote_Placa_Peso})

analise_Placa_Peso.head(13)

              Total de Peso
Lote Placa
601  JYI4978          11.04
     KDF8526           9.12
     KET7305          11.08
602  JYI4978           9.24
     KDF8526           9.24
     KET7305          11.38
603  JYI4978           7.34
     KDF8526           8.98
     KET7305          11.34
604  JYI4978           6.52
     KDF8526           9.52
606  KET7305          11.80
607  JYI4978           6.96

## Análise de Fornecedor, Sangue por Peso

In [154]:
fornecedor_sangue_peso = setor_sangue.groupby(["Fornecedor", "Produto"]).sum()["Peso Recebido"].rename("Total")

analise_geral = pd.DataFrame({"Total" : fornecedor_sangue_peso})

analise_geral

                     Total
Fornecedor Produto
MARFRIG VG SANGUE   325.98

## Análise de Peso da planilha Setor Sangue por Data, Mês e Dia

In [155]:
Ano_mes_dia = setor_sangue.groupby(["Ano", "Mês", "Dia"]).sum()["Peso Recebido"].rename("Total")

analise_geral = pd.DataFrame({"Total" : Ano_mes_dia})

analise_geral

              Total
Ano  Mês Dia
2022 6   1    31.24
         2    29.86
         3    27.66
         4    16.04
         6    11.80
         7    26.06
         8    29.54
         9    28.98
         10   14.56
         11   26.36
         12   10.00
         13   24.10
         14   27.78
         15   22.00

## Planilha Expedição PA

In [178]:
expedicao_pa = pd.read_excel("Controle_Entrada_Materia_Prima.xlsx", sheet_name="EXPEDICAO_PA")

expedicao_pa

,Data,Placa,LOTE,MOTORISTA,CLIENTE_DESTINO,Carregamento,Produto,N° TICKET,HORA SAIDA,PESO,Unnamed: 10
0,2022-06-01,OBD3869,601,ODIL BENTO,FILIAL,A GRANEL,FCO,78264,08:53:00,19.80,NaN
1,2022-06-01,ATZ1562,601,ELSON DE LIMA,FILIAL,BIG BAG,FCO,78225,10:49:00,35.58,NaN
2,2022-06-01,NRW8020,601,LUISVALDO FERREIRA,AMPARO,A GRANEL,SEBO,78280,13:34:00,34.70,NaN
3,2022-06-01,HXJ8934,601,JOSE CLAUDIO,FILIAL,A GRANEL,FARINHA ESPECIAL,78251,16:53:00,7.36,NaN
4,2022-06-02,NJK6830,602,JOEL TEIXEIRA,FILIAL,A GRANEL,FCO,78306,08:29:00,30.24,NaN
...,...,...,...,...,...,...,...,...,...,...,...
106,2022-06-15,ATZ1562,615,JOEL TEIXEIRA,FILIAL,BIG BAG,FCO,78985,10:38:00,38.22,NaN
107,2022-06-15,HTE3I47,615,JOVELINO SOARES,AMPARO,A GRANEL,SEBO,79015,13:34:00,35.28,NaN
108,2022-06-15,NRW8020,615,LUISVALDO FERREIRA,AMPARO,A GRANEL,SEBO,79016,14:09:00,34.28,NaN
109,2022-06-15,QCB7E64,615,ANTONIO MILTON,AMPARO,A GRANEL,SEBO,79026,14:41:00,48.32,NaN
110,2022-06-15,HTF1080,615,JOADIR SANTOS,AMPARO,A GRANEL,SEBO,79023,16:06:00,36.30,NaN

## Removendo dados Nulos com o nome Unnamed

In [179]:
## Apagar a Tabela Data
expedicao_pa = expedicao_pa.loc[:, ~expedicao_pa.columns.str.contains('^Unnamed')]

expedicao_pa

,Data,Placa,LOTE,MOTORISTA,CLIENTE_DESTINO,Carregamento,Produto,N° TICKET,HORA SAIDA,PESO
0,2022-06-01,OBD3869,601,ODIL BENTO,FILIAL,A GRANEL,FCO,78264,08:53:00,19.80
1,2022-06-01,ATZ1562,601,ELSON DE LIMA,FILIAL,BIG BAG,FCO,78225,10:49:00,35.58
2,2022-06-01,NRW8020,601,LUISVALDO FERREIRA,AMPARO,A GRANEL,SEBO,78280,13:34:00,34.70
3,2022-06-01,HXJ8934,601,JOSE CLAUDIO,FILIAL,A GRANEL,FARINHA ESPECIAL,78251,16:53:00,7.36
4,2022-06-02,NJK6830,602,JOEL TEIXEIRA,FILIAL,A GRANEL,FCO,78306,08:29:00,30.24
...,...,...,...,...,...,...,...,...,...,...
106,2022-06-15,ATZ1562,615,JOEL TEIXEIRA,FILIAL,BIG BAG,FCO,78985,10:38:00,38.22
107,2022-06-15,HTE3I47,615,JOVELINO SOARES,AMPARO,A GRANEL,SEBO,79015,13:34:00,35.28
108,2022-06-15,NRW8020,615,LUISVALDO FERREIRA,AMPARO,A GRANEL,SEBO,79016,14:09:00,34.28
109,2022-06-15,QCB7E64,615,ANTONIO MILTON,AMPARO,A GRANEL,SEBO,79026,14:41:00,48.32
110,2022-06-15,HTF1080,615,JOADIR SANTOS,AMPARO,A GRANEL,SEBO,79023,16:06:00,36.30

In [180]:
expedicao_pa["Dia"] = pd.DatetimeIndex(expedicao_pa["Data"]).day
expedicao_pa["Ano"] = pd.DatetimeIndex(expedicao_pa["Data"]).year
expedicao_pa["Mês"] = pd.DatetimeIndex(expedicao_pa["Data"]).month

expedicao_pa

,Data,Placa,LOTE,MOTORISTA,CLIENTE_DESTINO,Carregamento,Produto,N° TICKET,HORA SAIDA,PESO,Dia,Ano,Mês
0,2022-06-01,OBD3869,601,ODIL BENTO,FILIAL,A GRANEL,FCO,78264,08:53:00,19.80,1,2022,6
1,2022-06-01,ATZ1562,601,ELSON DE LIMA,FILIAL,BIG BAG,FCO,78225,10:49:00,35.58,1,2022,6
2,2022-06-01,NRW8020,601,LUISVALDO FERREIRA,AMPARO,A GRANEL,SEBO,78280,13:34:00,34.70,1,2022,6
3,2022-06-01,HXJ8934,601,JOSE CLAUDIO,FILIAL,A GRANEL,FARINHA ESPECIAL,78251,16:53:00,7.36,1,2022,6
4,2022-06-02,NJK6830,602,JOEL TEIXEIRA,FILIAL,A GRANEL,FCO,78306,08:29:00,30.24,2,2022,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,2022-06-15,ATZ1562,615,JOEL TEIXEIRA,FILIAL,BIG BAG,FCO,78985,10:38:00,38.22,15,2022,6
107,2022-06-15,HTE3I47,615,JOVELINO SOARES,AMPARO,A GRANEL,SEBO,79015,13:34:00,35.28,15,2022,6
108,2022-06-15,NRW8020,615,LUISVALDO FERREIRA,AMPARO,A GRANEL,SEBO,79016,14:09:00,34.28,15,2022,6
109,2022-06-15,QCB7E64,615,ANTONIO MILTON,AMPARO,A GRANEL,SEBO,79026,14:41:00,48.32,15,2022,6
110,2022-06-15,HTF1080,615,JOADIR SANTOS,AMPARO,A GRANEL,SEBO,79023,16:06:00,36.30,15,2022,6

In [181]:
## Apagar a Tabela Data
expedicao_pa = expedicao_pa.drop(columns=['Data'])

In [182]:
expedicao_pa

,Placa,LOTE,MOTORISTA,CLIENTE_DESTINO,Carregamento,Produto,N° TICKET,HORA SAIDA,PESO,Dia,Ano,Mês
0,OBD3869,601,ODIL BENTO,FILIAL,A GRANEL,FCO,78264,08:53:00,19.80,1,2022,6
1,ATZ1562,601,ELSON DE LIMA,FILIAL,BIG BAG,FCO,78225,10:49:00,35.58,1,2022,6
2,NRW8020,601,LUISVALDO FERREIRA,AMPARO,A GRANEL,SEBO,78280,13:34:00,34.70,1,2022,6
3,HXJ8934,601,JOSE CLAUDIO,FILIAL,A GRANEL,FARINHA ESPECIAL,78251,16:53:00,7.36,1,2022,6
4,NJK6830,602,JOEL TEIXEIRA,FILIAL,A GRANEL,FCO,78306,08:29:00,30.24,2,2022,6
...,...,...,...,...,...,...,...,...,...,...,...,...
106,ATZ1562,615,JOEL TEIXEIRA,FILIAL,BIG BAG,FCO,78985,10:38:00,38.22,15,2022,6
107,HTE3I47,615,JOVELINO SOARES,AMPARO,A GRANEL,SEBO,79015,13:34:00,35.28,15,2022,6
108,NRW8020,615,LUISVALDO FERREIRA,AMPARO,A GRANEL,SEBO,79016,14:09:00,34.28,15,2022,6
109,QCB7E64,615,ANTONIO MILTON,AMPARO,A GRANEL,SEBO,79026,14:41:00,48.32,15,2022,6
110,HTF1080,615,JOADIR SANTOS,AMPARO,A GRANEL,SEBO,79023,16:06:00,36.30,15,2022,6

## Análise da Expedição PA de Placa e Lote por Peso

In [183]:
placa_lote_peso = expedicao_pa.groupby(["Placa", "LOTE"]).sum()["PESO"].rename("Total") 

analise_lote_peso_geral = pd.DataFrame({"Total" : placa_lote_peso})

analise_lote_peso_geral.head(10)

              Total
Placa   LOTE
AKX2048 602   28.88
        606   33.86
        608    2.68
        611   35.78
ANJ9601 603   35.10
ATO4BRA 602   20.00
        603   20.62
        606   20.74
        607   19.32
        608   20.46

## Análise da expedição PA CLIENTE / DESTINO por Peso

In [210]:
cliente_destino_motorista_peso = expedicao_pa.groupby(["CLIENTE_DESTINO", "MOTORISTA"]).sum()["PESO"].rename("Total de Peso")  

analise_geral = pd.DataFrame({"Total de Peso" : cliente_destino_motorista_peso})

analise_geral

                                            Total de Peso
CLIENTE_DESTINO MOTORISTA
AMPARO          AGNEL JORGE                         33.30
                ANDERSON ERNESTO                    69.22
                ANTONIO FIALHO                      33.00
                ANTONIO MILTON                      48.32
                BENEDITO RODRIGUES                  34.02
                BRUNO DAMASO                        27.16
                CARLOS HENRIQUE                     47.90
                CARLOS ROBERTO                      30.58
                CLEISON SANTOS                      36.12
                EDNILSON DE CAMPOS                  33.74
                EDUARDO RODRIGUES                   48.40
                EDVALDO BATISTA                     46.42
                EURIDES CRISOSTOMO                  67.40
                GUIMAR PEREIRA                      67.40
                JAIME CLAUDIO                       35.48
                JEFERSON ALEXANDRE                  48.56
                JEFFREY RODRIGUES                   33.96
                JEREMIAS FERNANDES                  48.16
                JOADIR SANTOS                       72.66
                JOVELINO SOARES                     35.28
                JULIANO BENEDITO                    48.18
                LEANDRO DO AMARAL                   47.66
                LUCIANO ALVES                       36.48
                LUCIANO DE LIMA                     48.88
                LUCIANO MARQUES                     33.32
                LUISVALDO FERREIRA                  68.98
                MAKSANDER ALMEIDA                   34.02
                MARCELO VALERIANO                   33.50
                NIVALDO MARQUES                     73.62
                ONIVALDO BONFIETTI                  36.20
                ORISBETI MENDES                     95.98
                PAULO CESAR                         48.32
                PAULO WILLIAN                       34.16
                RICARDO FERREIRA                    47.44
                RODINEY GARCIA                      28.42
                SERGIO RAMIRES                      47.96
                THIAGO AUGUSTO                      33.54
                TOCHIO KIYOMURA                     34.58
                WASHINGTON APARECIDO                35.10
                ZENILTO CARVALHO                    37.12
                ZENILTON CARVALHO                   30.08
BINATURAL       PEDRO FARIAS                        33.12
                SEBASTIAO RENATO                    33.38
                WEDERSON DO ESPIRITO SANTO          34.64
FILIAL          ANTINIO CARLOS                      19.40
                ANTONIO CARLOS                      19.92
                CARLOS ROBERTO                      36.72
                ELSON DE LIMA                      180.44
                JOEL TEIXEIRA                      319.62
                JOSE CLAUDIO                       467.20
                ODIL BENTO                          19.80
                RODINEY GARCIA                      32.62
                RODRIGO CESAR                      329.38
                VALDIR                              41.76
MULTIOLEOS      ELESSANDRO SPARDIM                  31.42

## Análise de carregamento e produto por peso total

In [208]:
carregamento_produto = expedicao_pa.groupby(["Carregamento", "Produto"]).sum()["PESO"].rename("Total de Peso") 

analise_geral = pd.DataFrame({"Total de Peso" : carregamento_produto})

analise_geral

                                Total de Peso
Carregamento Produto
A GRANEL     BORRA                      31.42
             FARINHA ESPECIAL           12.08
             FCO                      1060.66
             SEBO                     1931.76
BIG BAG      FARINHA DE SANGUE          28.88
             FCO                       365.24

## Análise de Carregamento por ticket

In [223]:
ticket_peso = expedicao_pa.groupby(["N° TICKET"]).sum()["PESO"].rename("Total")

analise_geral_ticket = pd.DataFrame({"Total" : ticket_peso})

analise_geral_ticket.head(50)

           Total
N° TICKET
78225      35.58
78250      28.88
78251       7.36
78264      19.80
78280      34.70
78296      48.40
78306      30.24
78333      36.36
78336       4.72
78341      36.72
78344      31.42
78347      33.96
78357      34.02
78361      33.82
78378      20.92
78383      20.00
78393      19.60
78402      36.74
78403      33.00
78406      35.48
78419      33.70
78420      33.86
78424      20.62
78428      34.02
78431      30.58
78432      34.96
78439      37.12
78451      35.10
78457      21.28
78463      71.96
78470      39.64
78476      20.18
78482      12.28
78484      47.94
78486      33.12
78501      35.66
78504      31.92
78508      19.40
78512      34.52
78521      33.90
78522      48.32
78528      47.90
78530      48.18
78535      37.02
78547      20.74
78560      20.94
78571      34.58
78578      34.64
78584      33.74
78597      33.32